body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f4f7;
  min-height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
.navbar {
  background-color: #1f3c88;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  margin-top: 40px;
}

.welcome-section h1 {
  color: #1f3c88;
  font-size: 32px;
  margin-bottom: 30px;
}

/* Content Blocks (for spacing between paragraphs) */
.content-block {
  margin-bottom: 30px;
  background-color: #f9fafc;
  padding: 25px 30px;
  /border-left: 4px solid #1f3c88;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Description Text */
.description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #1f3c88;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Pushes footer to bottom */
}
/*login css */

.page-title {
  text-align: center;
  color: #1f3c88;
  margin-bottom: 20px;
}

.auth-box {
  width: 350px;
  margin: auto;
  background-color: #f9fafc;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.auth-box label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.switch-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.switch-text span {
  color: #1f3c88;
  cursor: pointer;
  font-weight: bold;
}
/* admin css */
.container h3 {
  color: #1f3c88;
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.container input,
.container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

/* user bill */
.bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.bill-table th,
.bill-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.bill-table th {
  background-color: #2c3e50;
  color: white;
}

.bill-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
